/* import styleshared  */
.input {
  /* display: flex;
  margin-left: auto;
  margin-right: auto; */
  font-size: 20px;
  margin-top: 50px;
  width: 200px;
  height: 30px;
  padding: 10px 5px;
  background-color: rgb(190, 224, 190);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* margin-left: auto;
  margin-right: auto; */
}
/* .header {
  text-align: center;
} */
.Add {
  margin-top: 30px;
  width: 150px;
  height: 50px;
  background-color: rgb(189, 39, 39);
  /* display: block; */
}
